.text-change{
    font-size: 30px;
    color: rgb(217, 208, 84);
    text-align: left;
    font-weight: bold;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5); 
    
    
    
}
.header_text_change{
    /* font-size: 30px;
    color:rgb(173, 163, 10) ;
     */
     font-weight: normal;
}
#welcome-msg1{
    color: rgb(15, 222, 15);
}
#welcome-msg2{
    color:yellow;
}
#welcome-msg3{
    color: red;
}
.card-bg{
    height: 100%;
    background-size: cover;
}
.card-item{
    height: 330px;
    padding: 15px 10px;
    border: 1px solid #c2b3b3;
}
.card-item .row{
    height: 100%;
}
.card-body{
    gap: 25px !important;
}
.position-relative .about-img{
background-size: contain;
background-repeat: no-repeat;
}
